.navbar{
    .container{
        padding: 10px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo{
            img{
                width: 64px;
            }
        }
        
        .links{
            display: flex;
            gap: 20px;
        }
    }
}

.link{
    text-decoration: none;
    color: inherit;
}